<html>
    <head>
        <link rel="stylesheet" type="text/css" href="./css/application.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <div id="app" v-cloak>
            <div id="settings" v-if="settings" v-on:click="quitSettings">
                <div class="flex-center n">Paused</div>
            </div>
            <div id="touch-events-layer" v-on:click="nextTask" v-on:mousedown="handleLongPress(0)" v-on:mouseup="handleLongPress(1)" v-on:touchstart="handleLongPress(0)" v-on:touchend="handleLongPress(1)" v-on:touchcancel="handleLongPress(1)">

            </div>
            <div id="wrapper">
                <div id="inner">
                    <div id="notification" v-if="!display_task" class="flex-center n">{{ notification }}</div>
                    <div id="task" class="flex-center n" v-if="display_task">距离{{ task }}结束还有</div>
                    <div id="timer" class="flex-center">{{ time_minute<10?"0":"" }}{{ time_minute?time_minute:"0" }}:{{ time_second<10?"0":"" }}{{ time_second?time_second:"0" }}</div>
                    <div id="completed" class="flex-center">完成的番茄:{{ completed }}</div>
                </div>
            </div>
        </div>
    </body>

    <script src="./js/vue.js"></script>
    <script src="./js/nosleep.js"></script>
    <script src="./js/application.js"></script>
</html>